<div class="top">
    <img class="logo" src="../../../assets/images/Logo2.png" />
    <h1 class="heading">Litehires</h1>
</div>
<section _ngcontent-bww-c116="">
    <div _ngcontent-bww-c116="" class="hero-container">
        <h1 _ngcontent-bww-c116="">Privacy Policy</h1>
        <p _ngcontent-bww-c116=""> Litehires.com collects and uses personal data as needed in order for us to provide you with top-notch products, services and support (collectively, our “Services”). Your personal data includes information such as: <br _ngcontent-bww-c116="">
            <br _ngcontent-bww-c116=""> Name <br _ngcontent-bww-c116=""> Address <br _ngcontent-bww-c116=""> Phone number <br _ngcontent-bww-c116=""> Email address <br _ngcontent-bww-c116=""> Other data that could directly or indirectly identify you
            <br _ngcontent-bww-c116="">
            <br _ngcontent-bww-c116=""> Our Privacy Policy will explain to you what data we collect, and how we use your personal data. It also describes how you can access, update, or otherwise take control of the personal data that we have collected
            from you. </p>
        <h2 _ngcontent-bww-c116="">What data is collected?</h2>
        <p _ngcontent-bww-c116=""> Most of your personal data is collected from you when: <br _ngcontent-bww-c116=""></p>
        <ul _ngcontent-bww-c116="">
            <li _ngcontent-bww-c116="">You sign up for our services; </li>
            <li _ngcontent-bww-c116="">You request assistance from our customer support team; </li>
            <li _ngcontent-bww-c116="">You complete surveys, subscribe to newsletters, or request other information from us; </li>
            <li _ngcontent-bww-c116="">You participate in contests, apply for a job, or participate in activities where we may require information about you. </li>
        </ul><br _ngcontent-bww-c116=""> In order to deliver the best Services to you, we may collect the following information: <br _ngcontent-bww-c116="">
        <ul _ngcontent-bww-c116="">
            <li _ngcontent-bww-c116="">Account related information is collected when you sign up for our Services. This information may include your name, address, phone number, email address, credit card information, etc. </li>
            <li _ngcontent-bww-c116="">Service Usage Data is automatically collected when you interact with our Services. This information may include data about your interactions with the features, content and links contained in our Services, time of interaction, browser type
                and configuration, operating system used, IP address, language preferences, and other cookie data. While none of this data will allow us to directly identify who you are, some of this data can be used to approximate your location. </li>
            <li _ngcontent-bww-c116="">Supplementary Data may be received about you from third party sources, such as public databases. We may combine this data with the information we already have about you in order to maintain accuracy of our records, and provide products and
                services that you may be interested in. </li>
        </ul>
        <h2 _ngcontent-bww-c116="">How we use data? </h2>
        <p _ngcontent-bww-c116=""> We believe in minimizing the data we collect. We will only use your data when we have been given permission to do so, when it is needed to deliver the Services that you have purchased, or for legal compliance or other lawful purposes. These usages
            include: <br _ngcontent-bww-c116=""></p>
        <ul _ngcontent-bww-c116="">
            <li _ngcontent-bww-c116="">Delivering, updating, and improving the Services that we provide to you. We collect various data relating to your purchase, use, and interactions with our Services. </li>
        </ul> We use this data to:
        <ul _ngcontent-bww-c116="">
            <li _ngcontent-bww-c116="">Improve and optimize the performance of our Services </li>
            <li _ngcontent-bww-c116="">Identify and investigate security risks, errors, problems, and needed enhancements to our Services </li>
            <li _ngcontent-bww-c116="">Detect and prevent fraud and abuse of our Services </li>
            <li _ngcontent-bww-c116="">Collect statistics about the use of our Services </li>
            <li _ngcontent-bww-c116="">Analyze how you use our Services and which of our Services are most relevant to you </li>
        </ul> We only share what is needed for the third party to perform the tasks on our behalf. These third parties are prohibited from using, sharing, or keeping your personal data for any other purpose, and are bound to strict data processing terms and
        conditions. <br _ngcontent-bww-c116=""> Communicating with you. We may contact you directly or through a third party service provider regarding the Services that you have purchased or subscribed to. We may also contact you with offers for additional
        services if you give us consent, or when it is allowed based on legitimate interests. <br _ngcontent-bww-c116=""><br _ngcontent-bww-c116=""> The methods of contact may include: <br _ngcontent-bww-c116=""> Email <br _ngcontent-bww-c116=""> Phone
        calls
        <br _ngcontent-bww-c116="">Text messages
        <p _ngcontent-bww-c116="">You may update your newsletter subscription preferences by contacting us as described in the “Contact Us” section below. </p>
        <p _ngcontent-bww-c116="">Website analytics. We use various third party web analytics tools such as Google Analytics to collect information on how you interact with our website. This data may include information on which pages you visit, how much time you spend on each
            page, which operating system and browser you use, and geographic location information. These tools will place cookies in your browser for this purpose which can only be used by the service provider. The data collected may be transmitted to
            and stored by these service providers in a country other than where you reside. This information does not include personal data such as names, address, email addresses, etc, and will be stored and used in accordance with their own privacy
            policies. You can control the technologies that we use through our Cookie Policy. </p>
        <p _ngcontent-bww-c116="">Targeted Advertisements. Our third party partners may use technologies such as cookies to gather information regarding your activities on our web pages and other websites in order to provide you with advertising based on your interests, and to
            measure the effectiveness of the advertisements. </p>
        <p _ngcontent-bww-c116="">Compliance with legal, regulatory, and law enforcement requests. We cooperate with law enforcement and government officials and private parties to comply with the law. We will, in our sole discretion, disclose any information about you to such
            parties as necessary to respond to claims and legal processes, to protect our property and rights or the property and rights of a third party, to protect the safety of the public or an individual, or to prevent or stop illegal or unethical
            activity. </p>
        <p _ngcontent-bww-c116="">If we are legally permitted to do so, we will take reasonable steps to notify you in the event we are required to provide your information to third parties as part of a legal process. </p>
        <p _ngcontent-bww-c116="">We will share your information as necessary to comply with ICANN or ccTLD regulations and policies when you register a domain name with us. </p>
        <h2 _ngcontent-bww-c116=""> How we secure and retain data? </h2>
        <p _ngcontent-bww-c116="">We follow generally accepted standards to collect, store and protect personal data, including the use of encryption. We retain personal data for as long as it is needed to provide the Services you have requested, and thereafter for legal and business
            purposes. </p><br _ngcontent-bww-c116=""> These may include retention periods:
        <ul _ngcontent-bww-c116="">
            <li _ngcontent-bww-c116="">Mandated by legal, contractual, or similar obligations; </li>
            <li _ngcontent-bww-c116="">For resolving, preserving, enforcing or defending our legal and contractual rights; </li>
            <li _ngcontent-bww-c116="">Needed to maintain adequate and accurate business and financial records. </li>
        </ul>
        <h2 _ngcontent-bww-c116="">How you can access, update, or delete your data? </h2>
        <p _ngcontent-bww-c116=""> You can access, view and update your personal data by signing into your account and visiting “My Account”. If you are unable to access “My Account” for any reason, you may contact us as described in the “Contact Us” section below. </p>
        <p _ngcontent-bww-c116="">If you make a request to delete your personal data, that request will be honored only to the extent where the data is no longer needed for the Services you have purchased, or when it is no longer required for our business, legal or contractual
            record keeping requirements. </p>
        <h2 _ngcontent-bww-c116=""> Changes to our Privacy Policy </h2>
        <p _ngcontent-bww-c116=""> We reserve the right to modify this Privacy Policy at any time. Please review this document from time to time so that you are aware of what information we collect and how we use it. </p>
        <h3 _ngcontent-bww-c116="">Write to us at support@litehires.com </h3>
        <p _ngcontent-bww-c116="">We will respond to all requests within 30 days. </p>
    </div>
</section>