<div class="container">
    <div class="left-container">
        <div class="center"><img class="logo" src="../../../assets/images/Logo2.png" />
        </div>
        <h1>Profolio Litehires</h1>
        <h4>Are you a student eager to kickstart your career, or a working professional looking for exciting new opportunities? Look no further than Profolio Litehires, the revolutionary platform that connects you directly with industry professionals who
            have the power to help you succeed.</h4>
        <button mat-button class="button"><a href="https://drive.google.com/drive/folders/1uXJytBr_X2YbI49ehnMTLMJIycmK_jzB?usp=sharing ">Download App</a></button>
    </div>
    <div class="right-container">
        <img class="app_img mat-elevation-z8" src="../../../assets/images/login.jpg" />
        <img class="app_img mat-elevation-z8 img2" src="../../../assets/images/register.jpg" />
        <img class="app_img mat-elevation-z8" src="../../../assets/images/meet.jpg" />
    </div>
</div>
<section class="content">
    <p><span>🚀 Unlock Your Career Potential:</span> With Profolio Litehires, you can take your career ambitions to new heights. Connect with industry insiders, tap into their wealth of knowledge, and explore a world of opportunities.</p>
    <p><span>🤝 Seamless Networking:</span> Our app simplifies the art of networking. Engage in one-on-one meetings with experienced professionals, seek their guidance, and build meaningful connections that can transform your career.</p>
    <p><span>📚 Request Referrals: </span>Need a foot in the door at your dream company? No problem! Profolio Litehires empowers you to request referrals directly from professionals who can vouch for your potential.</p>
    <p><span>🔍 Get Reviews:</span>Receive valuable feedback on your resume, portfolio, or interview skills. Profolio Litehires lets you request and receive honest reviews to improve your chances of success.</p>
    <p><span>💡 Invaluable Insights:</span> Stay ahead of industry trends, gain insider knowledge, and make informed career decisions by tapping into the wisdom of professionals who've been there and done that.</p>
    <p><span>🌐 Expand Your Horizons:</span>Whether you're looking for a mentor, a job referral, or simply a professional chat, Profolio Litehires is the perfect platform to broaden your professional horizons.</p>
    <p><span>📅 Schedule Meetings:</span>Plan and organize meetings with ease through our intuitive scheduling feature. Connect when it's convenient for both you and the professionals you want to meet.</p>
    <br><br>
    <h4>Ready to elevate your career? Join the Profolio Litehires community today and take control of your professional destiny. Get started now and open doors to endless possibilities.</h4>
</section>